.title{
    color: #000;
    text-align: center;
}




.containerCatalog{
    margin-top: 70px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img{
    width: 100px;
    height: 100px;
    /* background-image: url('./img/cart1.png'); */
}