.catalog-heading{
  font-size: 36px;
  font-weight: 700;
  
  
}


.catalog-options{
  display: flex;
  justify-content: space-around;
  padding-top: 5%;

}

.setlists{
  background: url('./img/готовые_подборки.png');
  width: 493px;
  height: 579px;
  background-size: cover; /* растягиваем картинку на всю площадь */
  background-position: center; /* центрируем картинку */
  display: flex;
  align-items: end;

}

.middle-container{
  display: flex;
  width: 622px;
  height: 579px;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.envelopes{
  background: url('./img/конверты.png');
  width: 622px;
  height: 279px;
  background-size: cover; /* растягиваем картинку на всю площадь */
  background-position: center; /* центрируем картинку */
  display: flex;
  align-items: end;

}
.clothes{
  background: url('./img/одежда_спайка.png');
  width: 301px;
  height: 280px;
  background-size: cover; /* растягиваем картинку на всю площадь */
  background-position: center; /* центрируем картинку */
  display: flex;
  align-items: end;
}

.nappies{
  background: url('./img/пеленки.png');
  width: 301px;
  height: 280px;
  background-size: cover; /* растягиваем картинку на всю площадь */
  background-position: center; /* центрируем картинку */
  display: flex;
  align-items: end;

}

.accessories{
  background: url('./img/аксессуары.png');
  width: 365px;
  height: 579px;
  background-size: cover; /* растягиваем картинку на всю площадь */
  background-position: center; /* центрируем картинку */
  display: flex;
  align-items: end;

}
.yellow-acc{
  background: url('./img/подложка_аксессуары.png');
  width: 365px;
  height: 77px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow-env{
  background: url('./img/подложка_конверты.png');
  width: 622px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow-set{
  background: url('./img/подложка_подборки.png');
  width: 493px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow-min{
  background: url('./img/мини_подложка.png');
  width: 301px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-name{
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 700;
}

.triangle{
  background: url('./img/triangle.png');
  width: 12px;
  height: 11px;
  background-size: cover; /* растягиваем картинку на всю площадь */
  background-position: center; /* центрируем картинку */
  margin-left: 10px;

}

.clothes-panel{
  width: 301px;
  height: 170px;
  position: absolute;
  background-color:beige;

}