.high-block{

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #F4F4F4;
    padding: 23px 23px;
}

.contact-data{
    display: flex;
    align-items: center;
}

.list-wrapp{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.itemWrapp{
    margin-right: 55px;
    cursor: pointer;
    color: #33394F;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.5;
    transition: 200ms;
}

.itemWrapp:hover{
    opacity: 1;
}



.bi{
    color: #33394F;
    margin-right: 15px;
}

.adress{
    color: #33394F;
    font-size: 14px;
    margin-right:40px ;

}

.modalBlock{
    width: 100%;
    padding: 60px 60px;
    background-color: #2D3242;
    display: none;
    position: absolute;
    left: 0;
    
    z-index: 100; 

}

.itemWrapp:hover .modalBlock{
    display: block;

    display: flex;
    justify-content: space-around;
    
}




.listModal{
    list-style-type: none;
}

.itemModal{
    color: #fff;
    margin-top: 10px;
    transition: 300ms;
}


.itemModal:hover{
    color: red;
}

.down-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}


.input-search{
    width: 645px;
    height: 45px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #F4F4F4;
    padding-left: 50px;
    font-size: 20px;
    border: none;
    color: #fff;

}
.bi-search{
    position: relative;
    left: 40px;
    top: 7px;
    color: #6C7080;

}

.button{
    width: 154px;
    height: 45px;
    background-color: #F7D05E;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    cursor: pointer;
}

.block-cart{
    display: flex;
    
}


.cart{
    margin-right: 50px;
}
.svg{
    margin-left: 30px;
    cursor: pointer;
}


.svg:active{
    color: #F7D05E;
}



.itemSearch{
    
    display: flex;
    justify-content: space-around;
    transition: 300ms;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    
}

.itemSearch:hover{
    background-color: #9c9c9c;
    
    cursor: pointer;
}

.containerSearch{
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    z-index: 120;
    position: absolute;
}


.bg{
    background-color: #000;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    position: absolute;
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
}


.close{
    color: #fff;
    position: absolute;
    right: 100px;
    top: 50px;
    cursor: pointer;
}
/* test */